html, body{
  margin: 0px;
  padding: 0px;
}

/* body */
h1{
  font-size: 2em;
}

.estruct{
  display: flex;
  justify-content: center;
  gap: 200px;
}

.dadesPrincipal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#fotoPerfil{
  background-color: white;
  border-radius: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.dadesPrincipal h2{
  text-align: center;
}

.totalLike{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#descripcioUser{
  height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.equipsCreats{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caixa{
  min-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px 0px 10px 0px;
  color: white;
  padding: 10px 30px 10px 30px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgba(68, 68, 68, 0.85);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nomMiniMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.miniMenu{
  cursor: pointer;
}

.menuOpcionsContainer {
  position: relative;
  display: inline-block;
}

.menuOpcions {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 0;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.menuOpcions p {
  margin: 0;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.menuOpcions p:hover {
  background-color: #eee;
  transition: all 0.3s;
}

.menuOpcionsContainer:hover .menuOpcions {
  display: block;
}

.equipPokemon{
  background-color: white;
  border-radius: 15px;
  gap: 5px;
}

.totalLikeEquip{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.afegirCaixa{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px 0px 10px 0px;
  color: white;
  width: 300px;
  height: 100px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgba(68, 68, 68, 0.85);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}