html, body{
  margin: 0px;
  padding: 0px;
}

nav{
  margin-bottom: 150px;
  width: 100%;
  height: 100px;
  background-color: rgba(var(--normal-rgb), 0.85); 
  box-shadow: 0 2px 8px #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoMenu{
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 40px;
}

/* MENU */
.llistaMenu{
  list-style: none;
  display: flex;
  padding: 0px;
}

.menuDropdown{
  list-style: none;
  padding-left: 0px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5rem 0;
  z-index: 1;

  /* poso que cada 8 files en la columna es posi lo demes en unaltre columna */
  grid-template-columns: repeat(2, max-content);
  gap: 0.5rem 2rem;
}

li{
  padding: 10px 15px 10px 15px;
}

a{
  text-decoration: none;
  color: black;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

/* Mostrar el submenú en passar el ratolí */
.dropdown:hover .menuDropdown {
  display: grid;
}

/* perfil */
.perfil{
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 15px 8px 15px;
  border-radius: 15px;
  box-shadow: 1px 2px 3px #444;
  gap: 10px;
}

/* body */
h1{
  font-size: 2em;
}

.estruct{
  display: flex;
  justify-content: center;
  gap: 200px;
}

.dadesPrincipal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#fotoPerfil{
  background-color: white;
  border-radius: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dadesPrincipal h2{
  text-align: center;
}

.totalLike{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#descripcioUser{
  height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.equipsCreats{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caixa{
  min-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px 0px 10px 0px;
  color: white;
  padding: 10px 30px 10px 30px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgba(68, 68, 68, 0.85);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nomMiniMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.miniMenu{
  cursor: pointer;
}

.menuOpcionsContainer {
  position: relative;
  display: inline-block;
}

.menuOpcions {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 0;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.menuOpcions p {
  margin: 0;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.menuOpcions p:hover {
  background-color: #eee;
  transition: all 0.3s;
}

.menuOpcionsContainer:hover .menuOpcions {
  display: block;
}

.equipPokemon{
  background-color: white;
  border-radius: 15px;
  gap: 5px;
}

.totalLikeEquip{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.afegirCaixa{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px 0px 10px 0px;
  color: white;
  width: 300px;
  height: 100px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgba(68, 68, 68, 0.85);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

footer{
  margin-top: 150px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 100px 0px 100px 0px;
}

.menuFooter{
  border-right: 2px solid white;
  padding-right: 2%;
}

.menuFooter h3{
  color: white;
  margin-bottom: 25px;
}

.menuFooter ul{
  list-style: none;
  padding: 0px;
}

.menuFooter li{
  color: white;
  padding: 7px 10px 7px 10px;
}

.menuFooter a{
  text-decoration: none;
}

.formulariFoter{
  width: 400px;
}

.formulariFoter h3{
  color: white;
}

.formulariFoter label{
  color: white;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

.formulariFoter input, .formulariFoter textarea{
  padding: 10px;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
}

.formulariFoter textarea{
  height: 100px;
}

.contacteFooter{
  border-left: 2px solid white;
  padding-left: 2%;
}

.contacteFooter h3{
  color: white;
}

.divContacte{
  height: 175px;
  width: 175px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.contacte{
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.contacte img{
  width: 50px;
}