:root{
  --normal: rgb(226, 226, 226);
  --normal-rgb: 226, 226, 226;
  --planta: rgb(171, 230, 160);
  --planta-rgb: 171, 230, 160;
  --fuego: rgb(244, 166, 166);
  --fuego-rgb: 244, 166, 166;
  --agua: rgb(156, 201, 245);
  --agua-rgb: 156, 201, 245;
  --lucha: rgb(255, 183, 128);
  --lucha-rgb: 255, 183, 128;
  --bicho: rgb(195, 212, 122);
  --bicho-rgb: 195, 212, 122;
  --veneno: rgb(201, 164, 232);
  --veneno-rgb: 201, 164, 232;
  --psiquico: rgb(246, 164, 187);
  --psiquico-rgb: 246, 164, 187;
  --fantasma: rgb(181, 159, 181);
  --fantasma-rgb: 181, 159, 181;
  --electrico: rgb(255, 235, 153);
  --electrico-rgb: 255, 235, 153;
  --hielo: rgb(168, 240, 255);
  --hielo-rgb: 168, 240, 255;
  --dragon: rgb(165, 175, 242);
  --dragon-rgb: 165, 175, 242;
  --roca: rgb(224, 187, 94);
  --roca-rgb: 224, 187, 94;
  --tierra: rgb(196, 138, 98);
  --tierra-rgb: 196, 138, 98;
  --volador: rgb(183, 216, 245);
  --volador-rgb: 183, 216, 245;
}

html, body{
  margin: 0px;
  padding: 0px;
}

nav{
  margin-bottom: 150px;
  width: 100%;
  height: 100px;
  background-color: rgba(var(--normal-rgb), 0.85); 
  box-shadow: 0 2px 8px #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoMenu{
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 40px;
}

/* MENU */
.llistaMenu{
  list-style: none;
  display: flex;
  padding: 0px;
}

.menuDropdown{
  list-style: none;
  padding-left: 0px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5rem 0;
  z-index: 1;

  /* poso que cada 8 files en la columna es posi lo demes en unaltre columna */
  grid-template-columns: repeat(2, max-content);
  gap: 0.5rem 2rem;
}

li{
  padding: 10px 15px 10px 15px;
}

a{
  text-decoration: none;
  color: black;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

/* Mostrar el submenú en passar el ratolí */
.dropdown:hover .menuDropdown {
  display: grid;
}

/* perfil */
.perfil{
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 15px 8px 15px;
  border-radius: 15px;
  box-shadow: 1px 2px 3px #444;
  gap: 10px;
}

/* body */
.divBuscador {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.buscador {
  width: 600px;
  padding: 15px 50px 15px 20px;
  border: none;
  border-radius: 50px;
  background-color: #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  outline: none;
}

.lupa {
  position: absolute;
  right: calc(50% - 300px + 20px);
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.divFiltro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 900px;
  margin: 100px auto 0px auto;
}

.filtro {
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.filtro p {
  margin: 0px;
  font-weight: bold;
  font-size: 16px;
}

#filtroNormal{ 
  background-color: var(--normal); 
}
#filtroPlanta{ 
  background-color: var(--planta); 
}
#filtroFuego{ 
  background-color: var(--fuego); 
}
#filtroAgua{ 
  background-color: var(--agua); 
}
#filtroLucha{ 
  background-color: var(--lucha); 
}
#filtroBicho{ 
  background-color: var(--bicho); 
}
#filtroVeneno{ 
  background-color: var(--veneno); 
}
#filtroPsiquico{ 
  background-color: var(--psiquico); 
}
#filtroFantasma{ 
  background-color: var(--fantasma); 
}
#filtroElectrico{ 
  background-color: var(--electrico); 
}
#filtroHielo{ 
  background-color: var(--hielo); 
}
#filtroDragon{ 
  background-color: var(--dragon); 
}
#filtroRoca{ 
  background-color: var(--roca); 
}
#filtroTierra{ 
  background-color: var(--tierra); 
}
#filtroVolador{ 
  background-color: var(--volador); 
}

.pokedex{
  display: grid;
  grid-template-columns: repeat(4, 200px); /* 4 columnes de 400px cadascuna */
  gap: 50px; /* espai entre caixes */
  justify-content: center; /* centrat horitzontalment */
  margin: 150px auto 0px auto;
}

.divPkmn{
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 4px 4px #00000025;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.divPkmn:hover {
  box-shadow: 0px 14px 14px #00000025;
  background-color: #ededed; /* fons més fosc */
  transform: translateY(-10px);
}

.divPkmn p{
  text-align: center;
  opacity: 0;
  transition: all 0.3s;
}

.divPkmn:hover p {
  opacity: 1;
}

footer{
  margin-top: 150px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 100px 0px 100px 0px;
}

.menuFooter{
  border-right: 2px solid white;
  padding-right: 2%;
}

.menuFooter h3{
  color: white;
  margin-bottom: 25px;
}

.menuFooter ul{
  list-style: none;
  padding: 0px;
}

.menuFooter li{
  color: white;
  padding: 7px 10px 7px 10px;
}

.menuFooter a{
  text-decoration: none;
}

.formulariFoter{
  width: 400px;
}

.formulariFoter h3{
  color: white;
}

.formulariFoter label{
  color: white;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

.formulariFoter input, .formulariFoter textarea{
  padding: 10px;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
}

.formulariFoter textarea{
  height: 100px;
}

.contacteFooter{
  border-left: 2px solid white;
  padding-left: 2%;
}

.contacteFooter h3{
  color: white;
}

.divContacte{
  height: 175px;
  width: 175px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.contacte{
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.contacte img{
  width: 50px;
}