:root{
  --normal: rgb(226, 226, 226);
  --normal-rgb: 226, 226, 226;
  --planta: rgb(171, 230, 160);
  --planta-rgb: 171, 230, 160;
  --fuego: rgb(244, 166, 166);
  --fuego-rgb: 244, 166, 166;
  --agua: rgb(156, 201, 245);
  --agua-rgb: 156, 201, 245;
  --lucha: rgb(255, 183, 128);
  --lucha-rgb: 255, 183, 128;
  --bicho: rgb(195, 212, 122);
  --bicho-rgb: 195, 212, 122;
  --veneno: rgb(201, 164, 232);
  --veneno-rgb: 201, 164, 232;
  --psiquico: rgb(246, 164, 187);
  --psiquico-rgb: 246, 164, 187;
  --fantasma: rgb(181, 159, 181);
  --fantasma-rgb: 181, 159, 181;
  --electrico: rgb(255, 235, 153);
  --electrico-rgb: 255, 235, 153;
  --hielo: rgb(168, 240, 255);
  --hielo-rgb: 168, 240, 255;
  --dragon: rgb(165, 175, 242);
  --dragon-rgb: 165, 175, 242;
  --roca: rgb(224, 187, 94);
  --roca-rgb: 224, 187, 94;
  --tierra: rgb(196, 138, 98);
  --tierra-rgb: 196, 138, 98;
  --volador: rgb(183, 216, 245);
  --volador-rgb: 183, 216, 245;
}

html, body{
  margin: 0px;
  padding: 0px;
}

nav{
  margin-bottom: 150px;
  width: 100%;
  height: 100px;
  background-color: rgba(var(--normal-rgb), 0.85); 
  box-shadow: 0 2px 8px #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoMenu{
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 40px;
}

/* MENU */
.llistaMenu{
  list-style: none;
  display: flex;
  padding: 0px;
}

.menuDropdown{
  list-style: none;
  padding-left: 0px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5rem 0;
  z-index: 1;

  /* poso que cada 8 files en la columna es posi lo demes en unaltre columna */
  grid-template-columns: repeat(2, max-content);
  gap: 0.5rem 2rem;
}

li{
  padding: 10px 15px 10px 15px;
}

a{
  text-decoration: none;
  color: black;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

/* Mostrar el submenú en passar el ratolí */
.dropdown:hover .menuDropdown {
  display: grid;
}

/* perfil */
.perfil{
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 15px 8px 15px;
  border-radius: 15px;
  box-shadow: 1px 2px 3px #444;
  gap: 10px;
}

/* body */
.divBuscador {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.buscador {
  width: 600px;
  padding: 15px 50px 15px 20px;
  border: none;
  border-radius: 50px;
  background-color: #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  outline: none;
}

.lupa {
  position: absolute;
  right: calc(50% - 300px + 20px);
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.divAnteriorSeguent{
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 100px auto 0px auto;
}

.pokedexAnterior, .pokedexSeguent{
  padding: 0px 25px 0px 25px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.base{
  max-width: 1000px;
  margin: 100px auto 0px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.estructPrincipal{
  border-radius: 15px;
  background-color: var(--fuego);
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.fonsImg{
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonsImg img{
  width: 300px;
}

.tiposGenere{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tipos{
  display: flex;
  gap: 5px;
}

.recuadreTipo {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* PER PROPERS POKEMONS I JA TENIR TOTA LA TAULA DE COLORS "FETA"*/
#recuadreNormal{ 
  background-color: var(--normal); 
}
#recuadrePlanta{ 
  background-color: var(--planta); 
}
#recuadreFuego{ 
  background-color: var(--fuego); 
}
#recuadreAgua{ 
  background-color: var(--agua); 
}
#recuadreLucha{ 
  background-color: var(--lucha); 
}
#recuadreBicho{ 
  background-color: var(--bicho); 
}
#recuadreVeneno{ 
  background-color: var(--veneno); 
}
#recuadrePsiquico{ 
  background-color: var(--psiquico); 
}
#recuadreFantasma{ 
  background-color: var(--fantasma); 
}
#recuadreElectrico{ 
  background-color: var(--electrico); 
}
#recuadreHielo{ 
  background-color: var(--hielo); 
}
#recuadreDragon{ 
  background-color: var(--dragon); 
}
#recuadreRoca{ 
  background-color: var(--roca); 
}
#recuadreTierra{ 
  background-color: var(--tierra); 
}
#recuadreVolador{ 
  background-color: var(--volador); 
}

.genereShiny{
  display: flex;
  justify-content: space-between;
}

.centreGenere{
  display: flex;
  gap: 10px;
}

.genereHome, .genereDona, .shiny{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonsStats{
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
}

th, td{
  height: 40px;
  padding: 0px 10px 0px 10px;
}

.nomStat{
  text-align: right;
}

#barraBasePS, #barraBaseAtac, #barraBaseDefensa, #barraBaseAtEspecial, #barraBaseDefEspecial, #barraBaseVelocitat{
  height: 20px;
  width: 200px;
  background-color: var(--normal);
  border-radius: 5px;
  position:relative;
}

#barraStatPS, #barraStatAtac, #barraStatDefensa, #barraStatAtEspecial, #barraStatDefEspecial, #barraStatVelocitat{
  position: absolute;
  right: 0px;
  height: 100%;
  width: 30px;
  border-radius: 5px;
  background-color: var(--veneno);
}

.estructSecundari{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.atrPkmn{
  background-color: var(--fuego);
  border-radius: 15px;
  padding: 50px;
}

.atrPkmn h2, .atrPkmn h3{
  text-align: center;
}

.divAtributs{
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, max-content);
}

.efectiuTipos{
  background-color: var(--fuego);
  border-radius: 15px;
  padding: 50px;
}

.fonsEfectiu{
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.x2, .x4, .entre2, .entre4, .inmune{
  display: flex;
  gap: 10px;
}

footer{
  margin-top: 150px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 100px 0px 100px 0px;
}

.menuFooter{
  border-right: 2px solid white;
  padding-right: 2%;
}

.menuFooter h3{
  color: white;
  margin-bottom: 25px;
}

.menuFooter ul{
  list-style: none;
  padding: 0px;
}

.menuFooter li{
  color: white;
  padding: 7px 10px 7px 10px;
}

.menuFooter a{
  text-decoration: none;
}

.formulariFoter{
  width: 400px;
}

.formulariFoter h3{
  color: white;
}

.formulariFoter label{
  color: white;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

.formulariFoter input, .formulariFoter textarea{
  padding: 10px;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
}

.formulariFoter textarea{
  height: 100px;
}

.contacteFooter{
  border-left: 2px solid white;
  padding-left: 2%;
}

.contacteFooter h3{
  color: white;
}

.divContacte{
  height: 175px;
  width: 175px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.contacte{
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.contacte img{
  width: 50px;
}