html, body {
  margin: 0px;
  padding: 0px;
}

/* NAVBAR */
nav {
  width: 100%;
  height: 100px;
  background-color: rgba(var(--normal-rgb), 0.85);
  box-shadow: 0 2px 8px #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logoMenu {
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 40px;
  height: 75px;
}

/* MENU */
.llistaMenu {
  list-style: none;
  display: flex;
  padding: 0px;
}

.menuDropdown {
  list-style: none;
  padding-left: 0px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5rem 0;
  z-index: 1;

  /* poso que cada 8 files en la columna es posi lo demes en unaltre columna */
  grid-template-columns: repeat(2, max-content);
  gap: 0.5rem 2rem;
}

li {
  padding: 10px 15px 10px 15px;
}

a {
  text-decoration: none;
  color: black;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

/* Mostrar el submenú en passar el ratolí */
.dropdown:hover .menuDropdown {
  display: grid;
}

/* perfil */
.perfil {
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 15px 8px 15px;
  border-radius: 15px;
  box-shadow: 1px 2px 3px #444;
  gap: 10px;
}

/* BODY */
header h1{
  text-align: center;
  font-size: 2.5rem;
}

.divBuscador {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.buscador {
  width: 600px;
  padding: 15px 50px 15px 20px;
  border: none;
  border-radius: 50px;
  background-color: #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  outline: none;
}

.lupa {
  position: absolute;
  right: calc(50% - 300px + 20px);
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.posts{
  max-width: 1200px;
  margin: 0px auto;
}

.post{
  margin-top: 100px;
  background-color: var(--electrico);
  width: 700px;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#post1{
  margin-left: 0;
  margin-right: auto;
}

#post2{
  margin-left: auto;
  margin-right: 0;
}

.titolPost{
  display: flex;
  justify-content: space-between;
}

.UserPost{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.UserPost img {
  width: 60px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.equipDescripcioPost{
  display: flex;
  gap: 20px;
}

.equipPost{
  width: 100%;
  min-width: 364px;
  border: 3px solid white;
  background-color: #444;
  border-radius: 30px;
  padding: 35px 25px;
}

.titolEquipDetalls{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titolEquipDetalls h3{
  color: white;
}

.titolEquipDetalls a{
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.equipUserPost{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: 10px;
}

.pokemonsPost{
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.descripcioPost{
  width: 325px;
}

.descripcioPost p{
  line-height: 1.3;
}

.divButons{
  display: flex;
  justify-content: end;
  gap: 20px;
}

.compartir, .like, .descarrega{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* FOOTER */

footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 100px 0px 100px 0px;
  margin-top: 100px;
}

.menuFooter {
  border-right: 2px solid white;
  padding-right: 2%;
}

.menuFooter h3 {
  color: white;
  margin-bottom: 25px;
}

.menuFooter ul {
  list-style: none;
  padding: 0px;
}

.menuFooter li {
  color: white;
  padding: 7px 10px 7px 10px;
}

.menuFooter a {
  text-decoration: none;
}

.formulariFoter {
  width: 400px;
}

.formulariFoter h3 {
  color: white;
}

.formulariFoter label {
  color: white;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

.formulariFoter input,
.formulariFoter textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
}

.formulariFoter textarea {
  height: 100px;
}

.contacteFooter {
  border-left: 2px solid white;
  padding-left: 2%;
}

.contacteFooter h3 {
  color: white;
}

.divContacte {
  height: 175px;
  width: 175px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.contacte {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.contacte img {
  width: 50px;
}